
// Variables

$color1: #f7c70f;
$color2: #91009d;

//--------------

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Montserrat";
}

//-----------------------------
//  Scrollbar

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $color2;
  border-radius: 1em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6c1774;
}

//-----------------------------

/*-----------------------------

Import CSS

-----------------------------*/

// Header
@import "components/header";

// Footer
@import "components/footer";

// Index
@import "components/index";

// Backend
@import "components/backend";

// Propiedades
@import "components/propiedades";

// Propiedad
@import "components/propiedad";
