* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat";
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #91009d;
  border-radius: 1em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6c1774;
}

/*-----------------------------

Import CSS

-----------------------------*/
header {
  background-color: white;
  -webkit-box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 10;
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-wrapper {
  width: 80%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-wrapper .header-icon {
  height: 70px;
  border-radius: 50%;
}

header .header-wrapper .header-icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

header .header-wrapper .header-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-wrapper .header-links a {
  margin-left: 40px;
  text-decoration: none;
  color: #91009D;
  font-weight: 500;
  position: relative;
}

header .header-wrapper .header-links .link::before {
  position: absolute;
  bottom: -15px;
  width: 0%;
  height: 2px;
  content: '';
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #91009D;
}

header .header-wrapper .header-links .link:hover:before {
  width: 100%;
}

header .header-wrapper .header-links .button {
  padding: 13px 20px;
  border-radius: 15px;
  background-color: #91009D;
  color: white;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .3s;
  transition: .3s;
}

header .header-wrapper .header-links .button i {
  margin-right: 5px;
}

header .header-wrapper .header-links .button:hover {
  background-color: #71107c;
}

/*-----------------------
|                       |
|       RESPONSIVE      |
|                       |
------------------------*/
@media screen and (max-width: 1200px) {
  header .header-wrapper .header-links .link {
    display: none;
  }
}

footer {
  width: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.3);
}

footer .footer-wrapper {
  max-width: 1300px;
  width: calc(100% - 20px);
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .footer-wrapper .footer-section1 {
  max-width: 300px;
  width: 100%;
  margin: 20px;
}

footer .footer-wrapper .footer-section1 .footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-wrapper .footer-section1 .footer-logo img {
  max-width: 100px;
  width: 100%;
  margin-bottom: 10px;
}

footer .footer-wrapper .footer-section1 p {
  text-align: center;
  font-size: 0.8em;
  color: #91009d;
  font-weight: 500;
}

footer .footer-wrapper .footer-section2 {
  max-width: 400px;
  width: 100%;
  text-align: center;
}

footer .footer-wrapper .footer-section2 h1 {
  color: #91009d;
  font-weight: 600;
  margin-bottom: 10px;
}

footer .footer-wrapper .footer-section2 p {
  font-size: 0.9em;
  color: #91009d;
  text-align: left;
}

footer .footer-wrapper .footer-section3 {
  width: 100%;
  max-width: 300px;
  margin: 20px;
}

footer .footer-wrapper .footer-section3 h1 {
  font-weight: 500;
  text-align: center;
  color: #91009d;
  font-size: 1.5em;
}

footer .footer-wrapper .footer-section3 .info-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-wrapper .footer-section3 .info-wrapper .info a {
  text-decoration: none;
  color: #91009d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

footer .footer-wrapper .footer-section3 .info-wrapper .info a .icon {
  width: 45px;
  height: 45px;
  margin: 10px;
  border-radius: 50%;
  background-color: #91009d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-wrapper .footer-section3 .info-wrapper .info a .icon i {
  color: white;
}

.landing {
  width: 100%;
  height: 90vh;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.landing .background {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: fixed;
  top: 0;
  z-index: -1;
}

.landing .landing-content {
  width: 80%;
  position: absolute;
}

.landing .landing-content .content {
  width: 100%;
  max-width: 700px;
}

.landing .landing-content .content h2 {
  color: #f7c70f;
  font-size: 2.3em;
  font-weight: 600;
  margin-bottom: 10px;
}

.landing .landing-content .content p {
  color: white;
  font-size: 1.1em;
}

.wave {
  width: 100%;
  height: 150px;
}

.wave-reverse {
  width: 100%;
  height: 150px;
  -webkit-transform: scale(-1);
          transform: scale(-1);
}

.cards {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -120px;
}

.cards .slider {
  overflow: hidden;
  width: 100%;
  background-color: white;
}

.cards .slider .title {
  margin: 0 20px;
  font-size: 2em;
  color: #91009d;
  font-weight: 600;
  text-align: center;
}

.cards .slider hr {
  width: 150px;
  margin: 10px auto;
  border: 1px solid #91009d;
  margin-bottom: 30px;
}

.cards .slider .slider-wrapper {
  position: relative;
}

.cards .slider .slider-wrapper .slider-anterior,
.cards .slider .slider-wrapper .slider-siguiente {
  position: absolute;
  z-index: 10;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  top: calc(50% - 35px);
  line-height: 30px;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.cards .slider .slider-wrapper .slider-anterior i,
.cards .slider .slider-wrapper .slider-siguiente i {
  font-size: 3em;
  color: #91009d;
}

.cards .slider .slider-wrapper .slider-anterior {
  left: 2%;
}

.cards .slider .slider-wrapper .slider-siguiente {
  right: 2%;
}

.cards .slider .slider-wrapper .slider-anterior:hover,
.cards .slider .slider-wrapper .slider-siguiente:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.cards .slider .slider-wrapper .slider-content {
  width: 90%;
}

.cards .slider .slider-wrapper .slider-content .card {
  position: relative;
  width: 300px;
  margin: 10px;
  border-radius: 20px;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.5);
  background-color: white;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.cards .slider .slider-wrapper .slider-content .card .estado {
  top: 20px;
  left: 0;
  width: 150px;
  height: 40px;
  background-color: #acfd8b;
  position: absolute;
  border-radius: 0 20px 20px 0;
  color: #5e9c46;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8em;
}

.cards .slider .slider-wrapper .slider-content .card .alquiler {
  background-color: #f7c70f;
  color: #99832a;
}

.cards .slider .slider-wrapper .slider-content .card .vendido {
  background-color: #ff6666;
  color: #8d2e2e;
}

.cards .slider .slider-wrapper .slider-content .card .card-img {
  width: 100%;
  height: 240px;
}

.cards .slider .slider-wrapper .slider-content .card .card-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cards .slider .slider-wrapper .slider-content .card .card-content {
  margin: 20px;
}

.cards .slider .slider-wrapper .slider-content .card .card-content h3 {
  font-size: 1.3em;
  color: #91009d;
}

.cards .slider .slider-wrapper .slider-content .card .card-content p {
  margin-top: 5px;
  font-size: 0.9em;
  color: #555;
}

.cards .slider .slider-wrapper .slider-content .card .card-content p i {
  color: #91009d;
  margin-right: 5px;
}

.cards .slider .slider-wrapper .slider-content .card .card-content .info-propiedad {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
}

.cards .slider .slider-wrapper .slider-content .card .card-content .info-propiedad .habitaciones,
.cards .slider .slider-wrapper .slider-content .card .card-content .info-propiedad .bath,
.cards .slider .slider-wrapper .slider-content .card .card-content .info-propiedad .size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #91009d;
}

.cards .slider .slider-wrapper .slider-content .card .card-content .info-propiedad .habitaciones i,
.cards .slider .slider-wrapper .slider-content .card .card-content .info-propiedad .bath i,
.cards .slider .slider-wrapper .slider-content .card .card-content .info-propiedad .size i {
  font-size: 1.3em;
  margin-right: 10px;
}

.cards .slider .slider-wrapper .slider-content .card .card-content .info-propiedad .habitaciones p,
.cards .slider .slider-wrapper .slider-content .card .card-content .info-propiedad .bath p,
.cards .slider .slider-wrapper .slider-content .card .card-content .info-propiedad .size p {
  font-weight: 600;
}

.cards .slider .slider-wrapper .slider-content .card .card-content .precio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cards .slider .slider-wrapper .slider-content .card .card-content .precio h1 {
  font-size: 1.3em;
  color: #333;
}

.cards .slider .slider-wrapper .slider-content .card .card-content .precio button {
  border: none;
  background-color: #91009d;
  color: white;
  cursor: pointer;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.cards .slider .slider-wrapper .slider-content .card .card-content .precio button:hover {
  background-color: #56085e;
}

.cards .slider .slider-wrapper .slider-content .card:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.cards .slider .slider-indicators .glider-dot {
  display: block;
  width: 30px;
  height: 4px;
  background-color: #91009d;
  opacity: 0.3;
  border-radius: 0;
}

.cards .slider .slider-indicators .glider-dot:hover {
  opacity: 0.5;
}

.cards .slider .slider-indicators .glider-dot.active {
  opacity: 1;
}

.contacto {
  width: 100%;
  margin: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacto .contacto-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
}

.contacto .contacto-content .contacto-wrapper {
  max-width: 1000px;
  width: 100%;
  margin: 0 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.contacto .contacto-content .contacto-wrapper .contacto-left,
.contacto .contacto-content .contacto-wrapper .contacto-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacto .contacto-content .contacto-wrapper .contacto-left {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.contacto .contacto-content .contacto-wrapper .contacto-left h2 {
  font-size: 2em;
  color: #91009d;
  font-weight: 600;
}

.contacto .contacto-content .contacto-wrapper .contacto-left h3 {
  font-size: 1.2em;
  font-weight: 500;
}

.contacto .contacto-content .contacto-wrapper .contacto-left p {
  margin: 0 15px;
  color: #666;
}

.contacto .contacto-content .contacto-wrapper .contacto-left form {
  max-width: 400px;
  width: 100%;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacto .contacto-content .contacto-wrapper .contacto-left form label {
  color: #91009d;
}

.contacto .contacto-content .contacto-wrapper .contacto-left form input,
.contacto .contacto-content .contacto-wrapper .contacto-left form textarea,
.contacto .contacto-content .contacto-wrapper .contacto-left form select {
  border: 1px solid #91009d;
  width: 100%;
  height: 35px;
  border-radius: 10px;
  outline: none;
  margin-bottom: 10px;
  padding: 0 10px;
  color: #91009d;
  resize: vertical;
}

.contacto .contacto-content .contacto-wrapper .contacto-left form select {
  padding: 0 5px;
}

.contacto .contacto-content .contacto-wrapper .contacto-left form textarea {
  height: 150px;
  padding: 10px;
}

.contacto .contacto-content .contacto-wrapper .contacto-right #map {
  width: 100%;
  height: 500px;
  border-radius: 10px;
}

/*-----------------------
|                       |
|       RESPONSIVE      |
|                       |
------------------------*/
@media screen and (max-width: 500px) {
  .landing {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .landing .buscador-content {
    text-align: center;
    margin: 20px;
    margin-top: 80px;
  }
}

.propiedad-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 1fr;
      grid-template-columns: 70% 1fr;
  background-color: #cfc1db;
}

.propiedad-wrapper .propiedad-left {
  width: 95%;
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
}

.propiedad-wrapper .propiedad-left h1 {
  font-size: 30px;
  text-align: center;
}

.propiedad-wrapper .propiedad-left .panel-section {
  width: 95%;
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  padding: 20px;
  text-align: center;
  background-color: #e7e7e7;
}

.propiedad-wrapper .propiedad-left .panel-section h1 {
  color: #555;
  text-align: left;
}

.propiedad-wrapper .propiedad-left .panel-section hr {
  width: 100%;
  border: 1px solid #999;
  margin: 10px 0;
}

.propiedad-wrapper .propiedad-left .panel-section .input-wrappers {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.propiedad-wrapper .propiedad-left .panel-section .input-wrappers .input {
  width: 100%;
  max-width: 200px;
  margin: 10px;
}

.propiedad-wrapper .propiedad-left .panel-section .input-wrappers .input p {
  margin: 5px 0;
}

.propiedad-wrapper .propiedad-left .panel-section .input-wrappers .input input,
.propiedad-wrapper .propiedad-left .panel-section .input-wrappers .input select {
  width: 100%;
  border: 1px solid #888;
  background-color: white;
  height: 30px;
  border-radius: 10px;
  outline: none;
  padding: 0 10px;
}

.propiedad-wrapper .propiedad-left .panel-section .input-wrappers .input .checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.propiedad-wrapper .propiedad-left .panel-section .input-wrappers .input .checkbox input[type="checkbox"] {
  width: 20px;
  margin-right: 5px;
}

.propiedad-wrapper .propiedad-left .panel-section .input-wrappers .input #checkbox-precio {
  margin-top: 10px;
}

.propiedad-wrapper .propiedad-left .panel-section .input-wrappers .input .checkbox-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.propiedad-wrapper .propiedad-left .panel-section .input-wrappers .input .checkbox-wrapper .checkbox input {
  width: auto;
  margin: 0 10px;
}

.propiedad-wrapper .propiedad-left .panel-section .input-wrappers .panel-izquierdo,
.propiedad-wrapper .propiedad-left .panel-section .input-wrappers .panel-medio,
.propiedad-wrapper .propiedad-left .panel-section .input-wrappers .panel-derecho {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.propiedad-wrapper .propiedad-left .panel-section .input-wrappers .section-medio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.propiedad-wrapper .propiedad-left .panel-section .checkboxcomfort {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 10px;
}

.propiedad-wrapper .propiedad-left .panel-section .checkboxcomfort input {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.propiedad-wrapper .propiedad-left .panel-section .comfort,
.propiedad-wrapper .propiedad-left .panel-section .seguridad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.propiedad-wrapper .propiedad-left .panel-section .comfort .checkbox,
.propiedad-wrapper .propiedad-left .panel-section .seguridad .checkbox {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  min-width: 200px;
  margin: 10px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.propiedad-wrapper .propiedad-left .panel-section .comfort .checkbox input,
.propiedad-wrapper .propiedad-left .panel-section .seguridad .checkbox input {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.propiedad-wrapper .propiedad-right {
  width: 95%;
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
}

.propiedad-wrapper .propiedad-right h1 {
  color: #555;
  font-size: 25px;
  text-align: center;
  margin: 10px;
}

.propiedad-wrapper .propiedad-right #cke_garantias,
.propiedad-wrapper .propiedad-right #cke_descripcion {
  width: 100%;
}

.propiedad-wrapper .propiedad-right .gestor-img {
  max-width: 500px;
  width: 100%;
  height: 300px;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.propiedad-wrapper .propiedad-right .gestor-img h3 {
  color: #666;
  margin: 10px;
}

.propiedad-wrapper .propiedad-right .gestor-img i {
  color: #666;
  font-size: 3em;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.propiedad-wrapper .propiedad-right .gestor-img i:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.propiedad-wrapper .propiedad-right .extra {
  border: 1px solid #888;
  background-color: white;
  height: 30px;
  border-radius: 10px;
  outline: none;
  padding: 0 10px;
  width: 100%;
  height: 40px;
}

.propiedad-wrapper .propiedad-right .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.propiedad-wrapper .propiedad-right .buttons button {
  padding: 0 10px;
  height: 40px;
  border-radius: 10px;
  background-color: blueviolet;
  color: white;
  text-decoration: none;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.propiedad-wrapper .propiedad-right .buttons button i {
  margin-right: 5px;
}

.propiedad-wrapper .propiedad-right .buttons button:hover {
  background-color: #691cb1;
}

@media screen and (max-width: 1180px) {
  .propiedad-wrapper .propiedad-left .panel-section .input-wrappers {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 950px) {
  .propiedad-wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 600px) {
  .propiedad-wrapper .propiedad-left .panel-section .input-wrappers {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.buscador-content {
  position: absolute;
}

.buscador-content .buscador {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.buscador-content .buscador .title {
  color: #F7C70F;
  font-size: 2.3em;
  font-weight: 600;
  margin-bottom: 10px;
}

.buscador-content .buscador .buscar {
  background-color: #b9b9b980;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 10px;
  margin: 0 20px;
}

.buscador-content .buscador .buscar .select {
  position: relative;
}

.buscador-content .buscador .buscar .select select {
  height: 40px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
  margin: 5px;
  padding-left: 25px;
}

.buscador-content .buscador .buscar .select i {
  position: absolute;
  top: 17px;
  left: 10px;
  color: #91009D;
}

.buscador-content .buscador .buscar button {
  background-color: #91009D;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  height: 40px;
  width: 120px;
  margin-right: 10px;
  border-radius: 10px;
}

@media screen and (max-width: 881px) {
  .buscador-content .buscador .buscar .select {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .buscador-content .buscador .buscar .select select {
    width: 100%;
  }
}

.propiedad-dinamica {
  margin: 20px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.propiedad-dinamica .propiedad-wrapper {
  width: calc(100% - 40px);
  background-color: white;
  -webkit-box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 1fr;
      grid-template-columns: 70% 1fr;
}

.propiedad-dinamica .propiedad-wrapper .panel-left,
.propiedad-dinamica .propiedad-wrapper .panel-right {
  border-radius: 10px;
  margin: 10px;
}

.propiedad-dinamica .propiedad-wrapper .panel-left {
  width: calc(100% - 20px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  padding: 20px 0;
}

.propiedad-dinamica .propiedad-wrapper .panel-left .carrusel {
  width: 100%;
  background-color: white;
  overflow: hidden;
}

.propiedad-dinamica .propiedad-wrapper .panel-left .carrusel .title {
  margin: 0 20px;
  font-size: 2em;
  color: #91009d;
  font-weight: 600;
  text-align: center;
}

.propiedad-dinamica .propiedad-wrapper .panel-left .carrusel hr {
  width: 150px;
  margin: 10px auto;
  border: 1px solid #91009d;
  margin-bottom: 30px;
}

.propiedad-dinamica .propiedad-wrapper .panel-left .carrusel .slider-wrapper {
  position: relative;
}

.propiedad-dinamica .propiedad-wrapper .panel-left .carrusel .slider-wrapper .slider-anterior,
.propiedad-dinamica .propiedad-wrapper .panel-left .carrusel .slider-wrapper .slider-siguiente {
  position: absolute;
  z-index: 10;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  top: calc(50% - 20px);
  line-height: 30px;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.propiedad-dinamica .propiedad-wrapper .panel-left .carrusel .slider-wrapper .slider-anterior i,
.propiedad-dinamica .propiedad-wrapper .panel-left .carrusel .slider-wrapper .slider-siguiente i {
  font-size: 2em;
  color: #91009d;
}

.propiedad-dinamica .propiedad-wrapper .panel-left .carrusel .slider-wrapper .slider-anterior {
  left: 0;
}

.propiedad-dinamica .propiedad-wrapper .panel-left .carrusel .slider-wrapper .slider-siguiente {
  right: 0;
}

.propiedad-dinamica .propiedad-wrapper .panel-left .carrusel .slider-wrapper .slider-anterior:hover,
.propiedad-dinamica .propiedad-wrapper .panel-left .carrusel .slider-wrapper .slider-siguiente:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.propiedad-dinamica .propiedad-wrapper .panel-left .carrusel .slider-wrapper .slider-content-propiedad {
  width: 90%;
}

.propiedad-dinamica .propiedad-wrapper .panel-left .carrusel .slider-wrapper .slider-content-propiedad .img-propiedad {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  background-color: white;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.propiedad-dinamica .propiedad-wrapper .panel-left .carrusel .slider-indicators .glider-dot {
  display: block;
  width: 30px;
  height: 4px;
  background-color: #91009d;
  opacity: 0.3;
  border-radius: 0;
}

.propiedad-dinamica .propiedad-wrapper .panel-left .carrusel .slider-indicators .glider-dot:hover {
  opacity: 0.5;
}

.propiedad-dinamica .propiedad-wrapper .panel-left .carrusel .slider-indicators .glider-dot.active {
  opacity: 1;
}

.propiedad-dinamica .propiedad-wrapper .panel-left .propiedad-info {
  width: 100%;
}

.propiedad-dinamica .propiedad-wrapper .panel-left .propiedad-info .propiedad-head {
  margin: 10px 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 1fr;
      grid-template-columns: 70% 1fr;
}

.propiedad-dinamica .propiedad-wrapper .panel-left .propiedad-info .propiedad-head h2 {
  font-size: 1.5em;
  color: #555;
  font-weight: 600;
}

.propiedad-dinamica .propiedad-wrapper .panel-left .propiedad-info .propiedad-head .precio {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.propiedad-dinamica .propiedad-wrapper .panel-left .propiedad-info .propiedad-head .precio h3 {
  font-size: 2em;
  color: #91009d;
  font-weight: 500;
}

.propiedad-dinamica .propiedad-wrapper .panel-left .propiedad-info .propiedad-body {
  margin: 0 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.propiedad-dinamica .propiedad-wrapper .panel-left .propiedad-info .propiedad-body .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.propiedad-dinamica .propiedad-wrapper .panel-left .propiedad-info .propiedad-body .location i {
  color: #91009d;
  margin-right: 5px;
}

.propiedad-dinamica .propiedad-wrapper .panel-left .propiedad-info .propiedad-body .location p {
  color: #91009d;
  font-size: 1.4em;
}

.propiedad-dinamica .propiedad-wrapper .panel-left .propiedad-info .propiedad-body .prop-info {
  max-width: 250px;
  width: 100%;
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.propiedad-dinamica .propiedad-wrapper .panel-left .propiedad-info .propiedad-body .prop-info .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.propiedad-dinamica .propiedad-wrapper .panel-left .propiedad-info .propiedad-body .prop-info .info i {
  color: #91009d;
  font-size: 1.5em;
  margin-right: 10px;
}

.propiedad-dinamica .propiedad-wrapper .panel-left .propiedad-info .propiedad-body .prop-info .info p {
  font-size: 1.1em;
  font-weight: 500;
  color: #555;
}

.propiedad-dinamica .propiedad-wrapper .panel-left .propiedad-info .propiedad-body .detalles {
  width: 100%;
}

.propiedad-dinamica .propiedad-wrapper .panel-left .propiedad-info .propiedad-body .detalles h2 {
  font-size: 1.5em;
  color: #555;
  margin: 30px 0;
  margin-bottom: 0;
}

.propiedad-dinamica .propiedad-wrapper .panel-left .propiedad-info .propiedad-body .detalles hr {
  width: calc(100% - 40px);
  border: 1px solid #bbb;
  margin: 10px 0;
}

.propiedad-dinamica .propiedad-wrapper .panel-left .propiedad-info .propiedad-body .detalles .details {
  width: calc(100% - 40px);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 25px 30px;
}

.propiedad-dinamica .propiedad-wrapper .panel-left .propiedad-info .propiedad-body .detalles .details .info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.propiedad-dinamica .propiedad-wrapper .panel-left .propiedad-info .propiedad-body .detalles .details .info .line {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0 10px;
  border-bottom: 2px dotted #ccc;
}

.propiedad-dinamica .propiedad-wrapper .panel-left .propiedad-info .propiedad-body .detalles .descripcion {
  width: calc(100% - 40px);
}

.propiedad-dinamica .propiedad-wrapper .panel-left .propiedad-info .propiedad-body .detalles .descripcion p {
  color: #555;
}

.propiedad-dinamica .propiedad-wrapper .panel-right {
  width: calc(100% - 20px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.propiedad-dinamica .propiedad-wrapper .panel-right .consulta {
  width: calc(100% - 20px);
  padding: 20px 0;
  margin: 10px 0;
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.propiedad-dinamica .propiedad-wrapper .panel-right .consulta form {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.propiedad-dinamica .propiedad-wrapper .panel-right .consulta form h2 {
  text-align: center;
  margin: 10px auto;
  color: #91009d;
  font-size: 1.6em;
  font-weight: 600;
}

.propiedad-dinamica .propiedad-wrapper .panel-right .consulta form p {
  color: #555;
  text-align: left;
  margin: 10px 0;
}

.propiedad-dinamica .propiedad-wrapper .panel-right .consulta form label {
  color: #91009d;
  margin-top: 10px;
  margin-bottom: 5px;
}

.propiedad-dinamica .propiedad-wrapper .panel-right .consulta form input,
.propiedad-dinamica .propiedad-wrapper .panel-right .consulta form textarea {
  width: 100%;
  height: 35px;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 10px;
  resize: vertical;
}

.propiedad-dinamica .propiedad-wrapper .panel-right .consulta form textarea {
  height: 100px;
  max-height: 200px;
}

.propiedad-dinamica .propiedad-wrapper .panel-right .consulta form input[type="submit"] {
  margin-top: 10px;
  background-color: #91009d;
  color: white;
  font-weight: 400;
  font-size: 1.1em;
  height: 40px;
}

@media screen and (max-width: 1110px) {
  .propiedad-dinamica .propiedad-wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 850px) {
  .propiedad-dinamica .propiedad-wrapper .panel-left .propiedad-info .propiedad-head {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .propiedad-dinamica .propiedad-wrapper .panel-left .propiedad-info .propiedad-head .precio {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media screen and (max-width: 725px) {
  .propiedad-dinamica .propiedad-wrapper .panel-left .propiedad-info .propiedad-body .detalles .details {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .propiedad-dinamica .propiedad-wrapper .panel-left .propiedad-info .propiedad-body .detalles .details .info p,
  .propiedad-dinamica .propiedad-wrapper .panel-left .propiedad-info .propiedad-body .detalles .details .info b {
    font-size: 0.8em;
  }
}
/*# sourceMappingURL=styles.css.map */